<h2>Listado de Árbitros</h2>

<div *ngIf="!arbitros">
    Cargando....
</div>

<div *ngIf="arbitros">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Completo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let arbitro of arbitros">
                <td><a [routerLink] = "['/ficha-arbitro', arbitro.id]">{{ arbitro.id }}</a></td>
                <td>{{ arbitro.apellido1 + " " + arbitro.apellido2  + ", " + arbitro.nombre }} </td>
            </tr>
        </tbody>
    </table>
</div>
