<h2>Clasificación</h2>
<!--
{{ filas | json}}
-->
<table *ngIf="filas" class="table_component">
    <thead>
        <tr>
            
            <th>Equipo</th>

            <th>L PJ</th>
            <th>L PG</th>
            <th>L PE</th>
            <th>L PP</th>
            <th>L GF</th>
            <th>L GC</th>
            <th>L Puntos</th>
            
            <th>V PJ</th>
            <th>V PG</th>
            <th>V PE</th>
            <th>V PP</th>
            <th>V GF</th>
            <th>V GC</th>
            <th>V Puntos</th>

            <th>PJ</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
            <th>GF</th>
            <th>GC</th>
            <th>Puntos</th>
    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fila of filas">

           <td>{{ fila.nombreEquipo }}</td>

           <td>{{ fila.localPartidosJugados }}</td>
           <td>{{ fila.localPartidosGanados }}</td>
           <td>{{ fila.localPartidosEmpatados }}</td>
           <td>{{ fila.localPartidosPerdidos }}</td>
           <td>{{ fila.localGolesFavor }}</td>
           <td>{{ fila.localGolesContra }}</td>
           <td>{{ fila.localPuntos }}</td>

           <td>{{ fila.visitantePartidosJugados }}</td>
           <td>{{ fila.visitantePartidosGanados }}</td>
           <td>{{ fila.visitantePartidosEmpatados }}</td>
           <td>{{ fila.visitantePartidosPerdidos }}</td>
           <td>{{ fila.visitanteGolesFavor }}</td>
           <td>{{ fila.visitanteGolesContra }}</td>
           <td>{{ fila.visitantePuntos }}</td>

           <td>{{ fila.totalPartidosJugados }}</td>
           <td>{{ fila.totalPartidosGanados }}</td>
           <td>{{ fila.totalPartidosEmpatados }}</td>
           <td>{{ fila.totalPartidosPerdidos }}</td>
           <td>{{ fila.totalGolesFavor }}</td>
           <td>{{ fila.totalGolesContra }}</td>
           <td>{{ fila.totalPuntos }}</td>

        </tr>
    </tbody>
    
</table>