<h2>Pruebas en Borrame</h2>
<p>Se llamaba {{ nombre }}</p>
<p>Vamos mostrar una lista de ciudades...</p>
<ul>
    <li *ngFor="let ciudad of ciudades">{{ ciudad }}</li>
</ul>
<p *ngIf="mostrarNombre">Otra vez el nombre! {{ nombre }}</p>
<button (click)="mostrarCiudades()">Mostra Ciudades por consola</button>

<button *ngIf="ciudades.length > 0" (click)="quitarUltimaCiudad()">Quitar ciudad</button>

<h3>Listado de árbitros</h3>

{{ arbitros | json}}

<!--
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Fecha de Nacimiento</th>
            <th>Colegio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let arbitro of arbitros">
            <td>{{ arbitro.id }}</td>
            <td>{{ arbitro.apellido1 + " " + arbitro.apellido2  + ", " + arbitro.nombre }} </td>
            <td>{{ arbitro.fechaNacimiento | date:'dd/MM/yyyy' }}</td>
            <td>{{ arbitro.colegio }}</td>
        </tr>
    </tbody>
</table>
-->


